<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.design">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextViewActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".GridActivity" />
        <activity android:name=".StaggerActivity" />
        <activity android:name=".HeaderActivity" />
        <activity android:name=".HeaderGridActivity" />
        <activity android:name=".StickHeaderActivity" />
        <activity android:name=".UpdateActivity" />
        <activity
            android:name=".ConstraintActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".CoordinatorActivity"
            android:label="@string/three_kingdoms"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".DragActivity" />
        <activity android:name=".ActionBarActivity">
        </activity>
        <activity android:name=".ToolbarActivity"
            android:theme="@style/BaseAppTheme">

        </activity>
    </application>

</manifest>